/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #F3F3F3;
  padding: 0px 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

  a {
    color: #2B7FE7;
    text-decoration: none;
  }

  table {
    font-size: inherit;
    font: 100%;
  }

  @font-face {
    font-family: "CenturyGothic";
    src: url('fonts/century_gothic.tff');
  }

  /*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.header {
  width: 100%;
  display: block;
  font-family: "CenturyGothic";
  margin: 10px 0px;
  overflow: auto;
}

.header .extra {
  margin-top: 14px;
  display: block;
  float: right;
}

.header h1 {
  display: block;
  float: left;
  font-size: 30px;
}

.header h1 a {
  color: #000;
  font-weight: normal;
}

#content {
  position: relative;
  display: block;
}

.promo {
  font-family: CenturyGothic;
  font-size: 18px;
  font-weight: normal;
  text-align: justify;
  padding: 20px 40px;
}
