/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{*font-size:100%;}

html, body { height: 100%; }

body {
  font-family: "Helvetica";
  background-color: #F3F3F3;
  padding: 0px 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

  a {
    color: #2B7FE7;
    text-decoration: none;
  }

  table {
    font-size: inherit;
    font: 100%;
  }

  @font-face {
    font-family: "CenturyGothic";
    src: url('fonts/century_gothic.tff');
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.logo {
  display: block;
  float: left;
  margin: 7px 20px 0px 0px;
}

.centered {
  margin: 0px auto;
  width: 1024px;
}

#content {
  display: block;
  overflow: auto;
}

#header {
  display: block;
  font-family: "CenturyGothic";
  margin: 10px 40px;
  overflow: auto;
}

#header .extra {
  margin-top: 14px;
  display: inline-block;
  float: right;
}

#header h1 {
  display: inline-block;
  float: left;
  font-size: 30px;
}

#header h1 a {
  color: #000;
  font-weight: normal;
}

#content {
  position: relative;
  display: block;
}

.promo {
  font-family: CenturyGothic;
  font-size: 18px;
  font-weight: normal;
  text-align: justify;
  margin: 30px 100px 0px 100px;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  padding: 20px;
  background-color: #F4F4F4;
  font-style: italic;
}

#projects {
  margin: 0px 30px;
  overflow: auto;
}

.project {
  width: 300px;
  margin: 40px 10px 10px 10px;
  display:  block;
  float: left;
}

.project li {
  list-style-type: none;
}

.project .header {
  font-family: "CenturyGothic";
  font-size: 14px;
  overflow: auto;
}

.project .title {
  font-family: "CenturyGothic";
  font-size: 24px;
  width: 100%;
  float: left;
  vertical-align: text-bottom;
}

.project .links {
  margin: 9px 0px;
  float: left;
  vertical-align: text-bottom;
}

.thumbnail {
  width: 300px;
  height: 166px;
  position: relative;
  box-shadow: 0 0 1px #999;
}

.thumbnail .description {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px;
  height: 128px;
  border: 10px solid #FFF;
  font-size: 18px;
  font-family: "CenturyGothic";
}

.thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 166px;
  height: 146px;
  border: 10px solid #FFF;
  -webkit-transition:opacity .3s ease-in;
  -moz-transition:opacity .3s ease-in;
  -o-transition:opacity .3s ease-in;
  transition:opacity .3s ease-in;
}

.thumbnail:hover img {
  opacity:0;
}

#footer {
  text-align: center;
  font-weight: 100;
  color: #777;
  margin: 20px 120px;
  padding-top: 10px;
  border-top: 1px solid #DDD;
  display: block;
  font-size: 12px;
}
