---
layout: default
title: Applidium Open Source
---

<h2 class="promo">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h2>

<div id="projects">
  <ul>
    {% for post in site.posts %}
    <li class="project">
      <div class="header">
        <p class="title">{{ post.title }}</p>
        <p class="links">{% if post.website %}<a href="{{ post.website }}">site</a> / {% endif %}<a href="https://github.com/applidium/{{ post.github }}">github</a></p>
      </div>
      <div class="thumbnail">
        <div class="description">{{post.excerpt}}</div>
        <img src="{{ post.thumbnail_url}}" alt="{{ post.title }}" width="300" height="184">
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
