<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/main.css">

</head>
<body>
  <div id="content" class="centered">
    <div id="header">
      <h1 class="title"><a href="/">{{ site.name }}</a></h1>
      <a class="extra" href="https://github.com/applidium">github.com/applidium</a>
    </div>
    <div id="container">
      {{ content }}
    </div>
    <div id="footer">
      Copyright © 2013 Applidium
    </div>
  </div>

</body>
</html>
